.notice {
    border: 1px solid;
    margin-left: 10%;
    width: 80%;
}

.notice h3 {
    background: #32c048;
    margin: 0;
    padding: 4px;
}

.notice.error h3 {
    background: #c0342d;
}

.notice p {
    margin: 0;
    padding: 4px;
}

.form-wrapper {
    float: left;
}

.gb-wrapper {
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}

.gb-wrapper.admin form {
    display: inline-block;
}

.gb-wrapper h2 {
    width: 400px;
}

.clear {
    clear: both;
}

.gb-entry {
    border: 1px solid;
    margin: 6px 0;
    padding: 6px;
    width: 400px;
}

.gb-entry h3 {
    margin-top: 6px;
    margin-bottom: 0px;
}

.gb-entry .author {
    margin: 0;
    font-style: italic;
}

form label {
    display: inline-block;
    width: 140px;
    margin-right: 10px;
}